<!-- 
id?: number;
    jaarlijksRendementBeleggingen?: number;
    naam?: string;
    premiePercentage?: number;
    voltijdFranchise?: number;
     -->
<div class="card my-5">
	<div class="card-body">
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Naam</th>
					<th scope="col">JaarlijksRendementBeleggingen</th>
					<th scope="col">VoltijdFranchise</th>
					<th scope="col">PremiePercentage</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let pensioenRegeling of pensioenRegelings">
					<td><a routerLink="{{pensioenRegeling.id}}"
						class="btn btn-info">{{ pensioenRegeling.id }}</a></td>
					<td>{{ pensioenRegeling.naam }}</td>
					<td>{{ pensioenRegeling.jaarlijksRendementBeleggingen }}</td>

					<td>{{ pensioenRegeling.voltijdFranchise }}</td>
					<td>{{ pensioenRegeling.premiePercentage }}</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>